beautifulsoup4==4.13.4
certifi==2025.4.26
charset-normalizer==3.4.2
colorcycle==1.1.0
comtypes==1.4.10
deep-translator==1.11.4
emoji==2.14.1
Faker==37.1.0
idna==3.10
joker==0.3.3
joker-interfaces==0.1.5
json5==0.12.0
pyjokes==0.8.3
pypiwin32==223
pyttsx3==2.98
pywin32==310
requests==2.32.3
setuptools==80.4.0
soupsieve==2.7
translator==0.0.9
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
volkanic==0.5.3
